@import './MenuItem/mItems.scss';

$w:300px;
@mixin flex($dir:column){
    display: flex;
    flex-direction: $dir;
}

.menu {
    widows: $w;
    @include flex();
    background-color:#dab;

    h1 {
        font-size:$fz*1.5;
    }

    & img {
        width: 50%;
    }

    .dropmenu{
        max-height: 0;
        transition: max-height 0.3s;
        overflow: hidden;
    }
    .dropmenu_active {
        max-height: 100vh;
    }
}